<section class="about-section" id="about-us">
  <div class="container">
    <h1 class="about-title">About <span class="title-underline">Us</span></h1>
    <p class="about-text">
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment
    </p>
    <div class="wrap-about-list">
      <ol class="about-list">
        <li class="about-list-item">
          <p class="about-item-text">Expert, innovative teaching staff</p>
        </li>
        <li class="about-list-item">
          <p class="about-item-text">Wide range of course levels and options</p>
        </li>
        <li class="about-list-item">
          <p class="about-item-text">Multicultural learning environment</p>
        </li>
        <li class="about-list-item">
          <p class="about-item-text">Comprehensive language support services</p>
        </li>
      </ol>
      <div class="wrap-about-img">
        <img
          class="about-img"
          srcset="./img/other/memoji@2x.png 2x"
          src="./img/other/memoji.png"
          alt="teacher"
        />
      </div>
    </div>
  </div>
</section>
