<!-- MODAL-->
<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <h2 class="team-modal-title">Our developers team</h2>
    <ul class="team-modal-list">
      <li class="team-modal-item">
        <img
          class="team-modal-img"
          srcset="
            ./img/created-by/oleksandr.png    1x,
            ./img/created-by/oleksandr@2x.png 2x
          "
          src="./img/created-by/oleksandr.png"
          alt="team lead"
        />
        <h3 class="team-modal-item-title">Oleksandr</h3>
        <p class="team-modal-item-text">Team Lead</p>
      </li>

      <li class="team-modal-item">
        <img
          class="team-modal-img"
          srcset="
            ./img/created-by/iryna.png    1x,
            ./img/created-by/iryna@2x.png 2x
          "
          src="./img/created-by/iryna.png"
          alt="Scram"
        />
        <h3 class="team-modal-item-title">Iryna</h3>
        <p class="team-modal-item-text">Scram</p>
      </li>
      <li class="team-modal-item">
        <img
          class="team-modal-img"
          srcset="
            ./img/created-by/nadin.png    1x,
            ./img/created-by/nadin@2x.png 2x
          "
          src="./img/created-by/nadin.png"
          alt="Developer"
        />
        <h3 class="team-modal-item-title">Nadiia</h3>
        <p class="team-modal-item-text">Developers</p>
      </li>
      <li class="team-modal-item">
        <img
          class="team-modal-img"
          srcset="./img/created-by/mila.png 1x, ./img/created-by/mila@2x.png 2x"
          src="./img/created-by/mila.png"
          alt="Developer"
        />
        <h3 class="team-modal-item-title">Mila</h3>
        <p class="team-modal-item-text">Developers</p>
      </li>
      <li class="team-modal-item">
        <img
          class="team-modal-img"
          srcset="
            ./img/created-by/alexander.png    1x,
            ./img/created-by/alexander@2x.png 2x
          "
          src="./img/created-by/alexander.png"
          alt="Developer"
        />
        <h3 class="team-modal-item-title">Alexander</h3>
        <p class="team-modal-item-text">Developers</p>
      </li>
      <li class="team-modal-item">
        <img
          class="team-modal-img"
          srcset="
            ./img/created-by/kostiantyn.png    1x,
            ./img/created-by/kostiantyn@2x.png 2x
          "
          src="./img/created-by/kostiantyn.png"
          alt="Developer"
        />
        <h3 class="team-modal-item-title">Kostiantyn</h3>
        <p class="team-modal-item-text">Developers</p>
      </li>
      <li class="team-modal-item">
        <img
          class="team-modal-img"
          srcset="./img/created-by/vlad.png 1x, ./img/created-by/vlad@2x.png 2x"
          src="./img/created-by/vlad.png"
          alt="Developer"
        />
        <h3 class="team-modal-item-title">Vlad</h3>
        <p class="team-modal-item-text">Developers</p>
      </li>
      <li class="team-modal-item">
        <img
          class="team-modal-img"
          srcset="
            ./img/created-by/andrii.png    1x,
            ./img/created-by/andrii@2x.png 2x
          "
          src="./img/created-by/andrii.png"
          alt="Developer"
        />
        <h3 class="team-modal-item-title">Anrdii</h3>
        <p class="team-modal-item-text">Developers</p>
      </li>
      <li class="team-modal-item">
        <img
          class="team-modal-img"
          srcset="
            ./img/created-by/sergii.png    1x,
            ./img/created-by/sergii@2x.png 2x
          "
          src="./img/created-by/sergii.png"
          alt="Developer"
        />
        <h3 class="team-modal-item-title">Sergii</h3>
        <p class="team-modal-item-text">Developers</p>
      </li>
      <li class="team-modal-item">
        <img
          class="team-modal-img"
          srcset="
            ./img/created-by/volodymyr.png    1x,
            ./img/created-by/volodymyr@2x.png 2x
          "
          src="./img/created-by/volodymyr.png"
          alt="Developer"
        />
        <h3 class="team-modal-item-title">Volodymyr</h3>
        <p class="team-modal-item-text">Developers</p>
      </li>
    </ul>
    <button class="team-modal-button" type="button">
      Order your site in one click
    </button>

    <button
      type="button"
      class="team-modal-btn-close modal-close-btn"
      data-modal-close
    >
      <svg class="team-modal-icon active-icon" width="40px" height="40px">
        <use href="./img/icons.svg#close-icon"></use>
      </svg>
    </button>
  </div>
</div>
