<header class="section-headr container">
  <div class="header">
    <a href="./index.html" class="page-nav-logo">
      <span class="logo logo-english"> english</span
      ><span class="logo logo-exellence">exellence</span
      ><span class="logo logo-english">.</span></a
    >
    <nav class="page-nav">
      <ul class="nav-list list">
        <li class="nav-list-link">
          <a href="#about-us" class="link nav-link-header line">About us</a>
        </li>
        <li class="nav-list-link">
          <a href="#our-lessons" class="link nav-link-header">Our lessonse</a>
        </li>
        <li class="nav-list-link">
          <a href="#our-techers" class="link nav-link-header">Teachers</a>
        </li>
        <li class="nav-list-link">
          <a href="#reviews" class="link nav-link-header">Reviews</a>
        </li>
        <li class="nav-list-link">
          <a href="#leave-an-app" class="link nav-link-header">Contact us</a>
        </li>
      </ul>
    </nav>

    <div class="social-icons">
      <ul class="social-list list">
        <li class="social-list-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="social-list-iteam"
            target="”_blank”"
          >
            <svg class="social-list-icon" width="42" height="42">
              <use
                href="./img/icons.svg#facebook-icon"
                width="26px"
                height="26px"
              ></use>
            </svg>
          </a>
        </li>
        <li class="social-list-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="social-list-iteam"
            target="”_blank”"
          >
            <svg class="social-list-icon" width="42" height="42">
              <use
                href="./img/icons.svg#instagram-icon"
                width="26px"
                height="26px"
              ></use>
            </svg>
          </a>
        </li>
        <li class="social-list-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="social-list-iteam"
            target="”_blank”"
          >
            <svg class="social-list-icon" width="42" height="42">
              <use
                href="./img/icons.svg#youtube-icon"
                width="26px"
                height="26px"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <button
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="nav-button" width="32" height="32">
        <use href="./img/icons.svg#nav-mobile-icon"></use>
      </svg>
    </button>
  </div>
</header>
