<section class="section hero-section" id="hero">
  <div class="container hero-container">
    <h1 class="hero-header">
      Discover the joy of learning
      <span class="accent-color">english</span> with us!
    </h1>
    <div class="cta-button anchor">
      <a class="link link-to-app" href="#leave-an-app">Leave an application</a>
    </div>
    <a class="link arrow-link" href="#footer">
      <svg class="arrow-icon" width="38" height="38">
        <use href="./img/icons.svg#arrow-icon"></use>
      </svg>
    </a>
  </div>
</section>
