<div class="backdrop visually-hidden" data-burger>
  <div class="menu-container js-menu-container" id="mobile-menu">
    <button class="menu-toggle js-close-menu">
      <svg fill="white" width="24" height="24">
        <use href="./img/icons.svg#close-icon"></use>
      </svg>
    </button>
    <ul class="mobile-menu">
      <li class="nav-list-link">
        <a href="#about-us" class="link accent" id="burger-1">About us</a>
      </li>
      <li class="nav-list-link">
        <a href="#our-lessons" class="link" id="burger-2">Our lessonse</a>
      </li>
      <li class="nav-list-link">
        <a href="#our-techers" class="link" id="burger-3">Teachers</a>
      </li>
      <li class="nav-list-link">
        <a href="#reviews" class="link" id="burger-4">Reviews</a>
      </li>
      <li class="nav-list-link">
        <a href="#application-form" class="link" id="burger-5">Contact us</a>
      </li>
    </ul>

    <div class="burger-social-icons">
      <ul>
        <li class="social-list list">
          <a
            href="https://www.facebook.com/goITclub/"
            class="social-list-iteam"
            target="_blank"
          >
            <svg class="social-list-icon" width="42" height="42">
              <use
                href="./img/icons.svg#facebook-icon"
                fill="white"
                width="26px"
                height="26px"
              ></use>
            </svg>
          </a>
        </li>
        <li class="social-list list">
          <a
            href="https://www.instagram.com/goitclub/"
            class="social-list-iteam"
            target="_blank"
          >
            <svg class="social-list-icon" width="42" height="42">
              <use
                href="./img/icons.svg#instagram-icon"
                fill="white"
                width="26px"
                height="26px"
              ></use>
            </svg>
          </a>
        </li>
        <li class="social-list list">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="social-list-iteam"
            target="_blank"
          >
            <svg class="social-list-icon" width="42" height="42">
              <use
                href="./img/icons.svg#youtube-icon"
                fill="white"
                width="26px"
                height="26px"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- <script defer src="./mobile-menu.js"></script> -->
