<section class="teachers-section" id="our-techers">
  <div class="container teachers-container">
    <h2 class="teachers-section__title title">
      Meet our <span class="title-underline">teachers</span>
    </h2>
    <p class="description">
      Discover our team of dedicated educators, committed to guiding you on your
      journey to English proficiency with personalized and engaging instruction
    </p>
    <ul class="cards-wrapper">
      <li class="card">
        <img
          class="teacher-photo"
          srcset="./img/techers/maria@2x.png 2x"
          src="./img/techers/maria.png"
          alt="Maria photo"
        />
        <h3 class="title">Maria</h3>
        <p class="about-techer">
          A seasoned linguist and our primary specialist in beginner-level
          instruction, Maria brings warmth and patience to every class
        </p>
      </li>
      <li class="card">
        <img
          class="teacher-photo"
          srcset="./img/techers/artem@2x.png 2x"
          src="./img/techers/artem.png"
          alt="Artem photo"
        />
        <h3 class="title">Artem</h3>
        <p class="about-techer">
          With his innovative teaching techniques and a focus on interactive
          learning, Artem excels in keeping students engaged and motivated
        </p>
      </li>
      <li class="card">
        <img
          class="teacher-photo"
          srcset="./img/techers/ilona@2x.png 2x"
          src="./img/techers/ilona.png"
          alt="Ilona photo"
        />
        <h3 class="title">Ilona</h3>
        <p class="about-techer">
          A specialist in advanced English, Ilona provides intensive
          instruction, ensuring students gain confidence in complex language
          tasks
        </p>
      </li>
      <li class="card">
        <img
          class="teacher-photo"
          srcset="./img/techers/volodymyr@2x.png 2x"
          src="./img/techers/volodymyr.png"
          alt="Volodymyr photo"
        />
        <h3 class="title">Volodymyr</h3>
        <p class="about-techer">
          Our expert in English for specific purposes, Volodymyr tailors his
          approach to meet individual career and industry-specific language
          needs
        </p>
      </li>
    </ul>
  </div>
</section>
