<section class="lessons-container" id="our-lessons">
  <div class="container">
    <h1 class="lessons-title">
      Our <span class="title-underline">lessons</span>
    </h1>
    <p class="lessons-subtitle">
      Our lessons are carefully structured and interactive, designed to promote
      rapid language acquisition through practical tasks and real-world
      scenarios
    </p>
    <ul class="list lessons-list">
      <li class="lessons-item-border">
        <h2 class="lessons-item-title">Practice</h2>
        <p class="lessons-item-price">40$ / month</p>
        <p class="lessons-description">
          This plan offers an opportunity for learners to engage in
          collaborative language exercises and group activities, boosting their
          conversational skills and confidence in using English.
        </p>
        <div class="lessons-button">
          <a class="link button-text" href="#leave-an-app"
            >Leave an application</a
          >
        </div>
      </li>
      <li class="lessons-item-border">
        <h2 class="lessons-item-title">Standart</h2>
        <p class="lessons-item-price">70$ / month</p>
        <p class="lessons-description">
          Our standard package provides a balanced learning approach that covers
          all key areas of English language - reading, writing, listening, and
          speaking. It is a set of basic knowledge and skills.
        </p>
        <div class="lessons-button">
          <a class="link button-text" href="#leave-an-app"
            >Leave an application</a
          >
        </div>
      </li>
      <li class="lessons-item-border">
        <h2 class="lessons-item-title">Individual</h2>
        <p class="lessons-item-price">99$ / month</p>
        <p class="lessons-description">
          We offer a tailored learning experience with individualized
          instruction that focuses on a learner's specific language goals and
          challenges, offering personal feedback.
        </p>
        <div class="lessons-button">
          <a class="link button-text" href="#leave-an-app"
            >Leave an application</a
          >
        </div>
      </li>
    </ul>
  </div>
</section>
