<section class="reviews" id="reviews">
  <div class="container reviews-container">
    <h2 class="reviews__title">
      What our <span class="title-underline">students</span> say
    </h2>
    <p class="reviews__content">
      Hear from our students about their learning journey with us, as they share
      their experiences, progress, and the transformative impact
    </p>
    <div class="swiper">
      <ul class="reviews__list list swiper-wrapper">
        <li class="reviews__item swiper-slide">
          <div class="reviews__card">
            <div class="reviews__card-student">
              <div class="reviews__card-student-photo">
                <img
                  class="reviews__image"
                  srcset="./img/reviewers/anna@2x.png 2x"
                  src="./img/reviewers/anna.png"
                  alt="photo student Anna"
                  width="50"
                  height="50"
                />
              </div>
              <div class="reviews__card-student-info">
                <p class="reviews__card-student-name">Anna</p>
                <p class="reviews__card-student-job">Student</p>
              </div>
            </div>
            <p class="reviews__card-content">
              My experience at the language school has been nothing short of
              amazing. The teachers are dedicated and the learning environment
              is stimulating. I feel more confident in my English skills.
            </p>
          </div>
        </li>
        <li class="reviews__item swiper-slide">
          <div class="reviews__card">
            <div class="reviews__card-student">
              <div class="reviews__card-student-photo">
                <img
                  class="reviews__image"
                  srcset="./img/reviewers/mykhailo@2x.png 2x"
                  src="./img/reviewers/mykhailo.png"
                  alt="photo student Anna"
                  width="50"
                  height="50"
                />
              </div>
              <div class="reviews__card-student-info">
                <p class="reviews__card-student-name">Mykhailo</p>
                <p class="reviews__card-student-job">Student</p>
              </div>
            </div>
            <p class="reviews__card-content">
              The school offers a great balance of language theory and practical
              exercises. The personalized feedback from the teachers has helped
              me improve my weak areas.
            </p>
          </div>
        </li>
        <li class="reviews__item swiper-slide">
          <div class="reviews__card">
            <div class="reviews__card-student">
              <div class="reviews__card-student-photo">
                <img
                  class="reviews__image"
                  srcset="./img/reviewers/victoria@2x.png 2x"
                  src="./img/reviewers/victoria.png"
                  alt="photo student Anna"
                  width="50"
                  height="50"
                />
              </div>
              <div class="reviews__card-student-info">
                <p class="reviews__card-student-name">Victoria</p>
                <p class="reviews__card-student-job">Student</p>
              </div>
            </div>
            <p class="reviews__card-content">
              I love the dynamic and interactive teaching methods used here.
              It's a great place to learn English in a fun and effective way. I
              have definitely seen a big improvement in my language skills.
            </p>
          </div>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
